 @import "tailwindcss";


/* @layer base {
  body {
    @apply font-iranYekan bg-gray-50 p-0 m-0;
    direction: rtl; 
  }
  .rtl-placeholder::placeholder {
  direction: rtl;
  text-align: right;
}
  
}    */
   body {
  font-family: var(--font-iranYekan);
}