@font-face {
  font-family: 'IranYekan';
  src: url('../fonts/iran-yekan/IRANYekanX-Black.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('../fonts/iran-yekan/IRANYekanX-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('../fonts/iran-yekan/IRANYekanX-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('../fonts/iran-yekan/IRANYekanX-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('../fonts/iran-yekan/IRANYekanX-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('../fonts/iran-yekan/IRANYekanX-DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('../fonts/iran-yekan/IRANYekanX-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('../fonts/iran-yekan/IRANYekanX-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('../fonts/iran-yekan/IRANYekanX-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}